@import "tailwindcss";

@theme {
  --color-purple: #B246F2 ;
  --color-purple-2: #CA9BF8;
  --color-purple-3: #9666C3;
  --color-purple-4: #AF8FCD;
  --color-black-text: #3D3D3D;
  --color-white: #FFFFFF;

}

@font-face {
  font-family: "Libre Franklin";
  src: url("/fonts/LibreFranklin-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}